body {
  background-color: rgb(169, 189, 229);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 470px;
  margin: 50px auto;
  padding: 50px 10px 20px 10px;
  background-color: black;
  border-radius: 10px;
  border: 2px solid gray;
}

.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-basis: 0;  
  margin: 5px;  
}

#top {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  text-align: center;
  padding: 0px;
}

.screen {
  flex-basis: 0;
  flex-grow: 1;
  background-color: rgb(195, 194, 171);
  border-radius: 5px; 
  text-align: right;
  font-family: Orbitron;
  font-size: 24px;
  text-wrap: none;
  overflow: hidden;  
  margin: 0px;
  padding: 15px 10px 15px 0px;
}

button {
  flex-grow: 1;
  flex-basis: 0; 
  padding: 0;
  margin: 0px 5px 0px 5px;
  border-radius: 5px;
}

button:focus {
 outline: none;
}

#fourth {
  flex-grow: 2.2;
  display: flex;
}

#left {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  flex-basis: 0;
}

.upper {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  margin-bottom: 5px;
}

.lower {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  margin-top: 5px;
}

#zero {
  flex-grow: 2.3;
  flex-basis: 0;
}

#decimal {
  flex-grow: 1;
  flex-basis: 0;
}

#right {
  display: flex;
  flex-grow: 1; 
  flex-basis: 0;
}
