body {
  background-color: $light-blue;
}

.main {
  background-color: $charcoal;
  border-radius: 10px;
  border: 2px solid $grey;
}

.screen {
  background-color: $dull-yellow;
  border-radius: 5px; 
}
