@include font-face('Orbitron');


#top {
  text-align: center; 
}

.screen {
	font-family: $stack-orbitron;
	text-align: right;
	font-size: 28px;
	text-wrap: none;
	overflow: hidden;  
	color: dimgrey;
}

button {
	font-size: 14px;
}
