/* colors */

$light-blue		:	rgb(169, 189, 229);
$charcoal		:	rgb(86,86,86);
$grey			:	grey;
$dull-yellow	:	rgb(195, 194, 171);



/* paths */

$path-font		:	'https://fonts.googleapis.com/css?family=';


/* stack */

$stack-sans-serif	:	Helvetica, Arial, sans-serif;
$stack-orbitron		:	'Orbitron', $stack-sans-serif;